/* FONTS */

$main-font: "Open Sans", Arial, sans-serif;
$second-font: "proxima_nova", Arial, sans-serif;



/* SIZE */
$base-size: 14px;
$title-base-size: 64px;

/* COLORS */
$white: #fff;
$black: #000;
$bol-green: #0D858C;